.app {
  position: relative;
  width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
  .itemDetail-wrapper {
    width: 100%;
  }
  .itemDetail-wrapper::after {
    content: "";
    display: block;
    clear: both;
  }
}
