.app {
  position: relative;
  width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
  .itemDetail-wrapper {
    width: 100%;
  }
  .itemDetail-wrapper::after {
    content: "";
    display: block;
    clear: both;
  }
  .itemDetailView{
    display: inline-block;
    height: auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 60px;
  }
 
}
