$highligthColor: #f23538;
$font-default-color: #495057;

.itemDetail-options-wrapper {
  color: $font-default-color;
  font-size: 14px;
  .itemDetail-options-text {
    float: left;
    margin: 7px 0 17px 0;
  }
  .option-select {
    position: relative;
    float: right;
    width: 360px;
    height: 32px;
    border: 1px solid #e6eaed;
    box-sizing: border-box;
    padding: 5px 0 0 12px;
    font-size: 13px;
    font-weight: 500;
    .option-select-title {
      width: 100%;
      float: left;
      color: #868e96;
      font-weight: normal;
    }
    .option-select-icon {
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;
      .arrow {
        width: 40px;
        height: 40px;
      }
    }
    .options-contents {
      position: absolute;
      z-index: 999;
      top: 30px;
      left: 0;
      width: 100%;
      background: #ffffff;
      color: #868e96;
      border: 1px solid #4285f4;
      .option-contents-title {
        height: 25px;
        padding: 5px;
      }
      .option-contents-text {
        height: 25px;
        padding: 5px;
      }
      .option-contents-text:hover {
        background: #4285f4;
        color: #ffffff;
      }
    }
  }
  .option-select::after {
    content: "";
    display: block;
    clear: both;
  }
}
.itemDetail-options-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
